*.jpg binary
*.png binary
*.gif binary

*.py -text=auto
*.rb -text=auto
*.java -text=auto
*.html -text=auto
*.htm -text=auto
*.css -text=auto
*.scss -text=auto
*.sass -text=auto
*.js -text=auto
*.sql -text=auto
*.php -text=auto
*.lua -text=auto
