[fetch]
	prune = true
[push]
	default = current
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[alias]
	br = branch
	ci = commit
	cp = cherry-pick
	co = checkout
	dc = diff --cached
	st = status -s
	last = log -1 --stat
	unstage = reset HEAD --
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all --decorate
	dw = diff --word-diff
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
	aa = add --all
	ca = commit --amend
	au = add --update
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = !git ls-files -v | grep ^h | cut -c 3-
