[include]
  path = ~/.gitconfig.local
[core]
  editor = vim
  autocrlf = input
  quotepath = false
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
[fetch]
  prune = true
[pull]
  rebase = true
[push]
  default = simple
[alias]
  au = add --update
  aa = add --all
  ap = add --patch
  br = branch
  co = checkout
  ci = commit
  ca = commit --amend
  st = status -s
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lgg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  lws = log --pretty=format:'%Cgreen(%ci) %Cblue<%an>%Creset %Cred%h%Creset %s' --grep
  lfs = log --pretty=format:'%Cgreen(%ci) %Cblue<%an>%Creset %Cred%h%Creset %s' --follow
  lfsp = log --pretty=format:'%Cgreen(%ci) %Cblue<%an>%Creset %Cred%h%Creset %s' --follow --patch
  cp = cherry-pick
  df = diff
  dc = diff --cached
  dw = diff --word-diff
  sba = "!f() { git subtree add --prefix=$2 $1 master --squash ;}; f"
  sbu = "!f() { git subtree pull --prefix=$2 $1 master --squash ;}; f"
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
  assume = update-index --assume-unchanged
  assumed = !git ls-files -v | grep "^[[:lower:]]"
  unassume = update-index --no-assume-unchanged
  delete-merged-remote-branches = !git branch -a --merged | grep -vE \"master|develop\" | sed -e \"s% *remotes/origin/%%\" | xargs -I% git push origin :%
  delete-merged-branches = !git branch --merged | grep -vE \"master|develop\"  | xargs -I % git branch -d %
