[user]
	name = wate
	email = pc.poisoning@gmail.com
[core]
	editor = vim
	autocrlf = input
	quotepath = false
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[fetch]
	prune = true
[push]
	default = current
[pull]
	rebase = true
[alias]
	au = add --update
	aa = add --all
	ap = add --patch
	ai = add --interactive
	br = branch
	co = checkout
	ci = commit
	ca = commit --amend
	st = status -s
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lsw = log --pretty=format:'%Cgreen(%ci) %Cblue<%an>%Creset %Cred%h%Creset %s' --grep
	lsf = log --pretty=format:'%Cgreen(%ci) %Cblue<%an>%Creset %Cred%h%Creset %s' --follow
	lsfp = log --pretty=format:'%Cgreen(%ci) %Cblue<%an>%Creset %Cred%h%Creset %s' --follow --patch
	cp = cherry-pick
	dc = diff --cached
	dw = diff --word-diff
	last = log -1 --stat
	unstage = reset HEAD --
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = !git ls-files -v | grep ^h | cut -c 3-
	delete-merged-remote-branches = !git branch -a --merged | grep -vE \"master|develop\" | sed -e \"s% *remotes/origin/%%\" | xargs -I% git push origin :%
	delete-merged-branches = !git branch --merged | grep -vE \"master|develop\"  | xargs -I % git branch -d %
